<div class="mt-4" name="container-form"  >
    <div>
      <h3>Khóa học đã đăng kí</h3>
    </div>

    
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">
            Tên Khóa học 
          </th>
          <th scope="col " colspan="2">
            Thời gian đăng kí
            </th>
        </tr>
      </thead>
    <tbody>
        {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>
              <a href="/courses/{{this.slug}}" class="name-course-user-store">
                {{this.name}}
              </a>
            </td>
            <td>{{this.createdAt}}</td>
            <td>
                <button class="remove-store-btn" data-id={{this._id}} onclick="handleDeleteForm()">Bỏ lưu</button>
            </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="4" class="text-center">
            bạn chưa đăng kí khóa học nào
            <a href="/">Chọn khóa học để đăng kí</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
<form method="post" id="remove-store-form"></form>
<div id='id-user' data-id={{user.email}} ></div>
    
</div>
<script>
  function handleDeleteForm() {
    const deleteBtn = event.target;
    const idCourse = deleteBtn.getAttribute("data-id");
    const emailUser = document.getElementById('id-user').getAttribute('data-id');
    const formDelete = document.getElementById('remove-store-form');
    formDelete.action = `/courses/${idCourse}/${emailUser}`;
    formDelete.submit();

  }
</script>
